{% extends 'base.html' %}

{% block content %}
	<h1>Check out</h1>
	{% for order in orders %}
		<p>Product: {{order.product.name }}</p>
		<p>Price: ${{order.product.sales_price}}</p>
		<p>Quantity: {{ order.quantity }}</p>
		<a href="{% url 'cart_remove' pk=order.pk %}" class="remove">Remove</a>
		<hr/>

	{% endfor%}
	<p>Total Price: ${{total }}</p>
	<form method="POST" action="/checkout">
	{% csrf_token %}
	{% if total > 0 %}
	<button type="submit" class="btn btn-primary">Check Out
	</button>
	{% endif %}
</form>
{% endblock %}